@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <br /><br />
    ### Test URLs:
    <br /><br />
    https://localhost:44371/Account/Register?culure=de-CH&ui-culture=de-CH
    <br /><br />
    https://localhost:44371/Account/Register?culure=it-CH&ui-culture=it-CH
    <br /><br />
    https://localhost:44371/Account/Register?culure=fr-CH&ui-culture=fr-CH
    <br /><br />
    https://localhost:44371/Account/Register?culure=en-US&ui-culture=en-US
    <br /><br />

</div>
